// Bootstrap core JavaScript
// Core plugin JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/jquery-easing/jquery.easing.min.js')
script(src='vendor/datatables/jquery.dataTables.js')
script(src='vendor/datatables/dataTables.bootstrap4.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js')
