// Custom scripts for all pages
script(src='../vendor/jquery/jquery.min.js')
script(src='../vendor/jquery-easing/jquery.easing.min.js')
script(src='../vendor/datatables/jquery.dataTables.js')
script(src='../vendor/datatables/dataTables.bootstrap4.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js')
script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
script(type='text/javascript').



    //function createNode(stats) {

    var nodes = new vis.DataSet(JSON.parse('!{nodes}'));
    var edges = new vis.DataSet(JSON.parse('!{edges}'));
    var container = document.getElementById('mynetwork');
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        autoResize: true,
        height: '650px',
        layout: {
            hierarchical: {
                direction: 'RL',
            }
        },
        nodes: {
            shape: 'box',
            margin: 10,
            widthConstraint: {
                maximum: 200
            }
        },
        edges: {
            smooth: {
                type: 'cubicBezier',
                forceDirection: 'horizontal',
                roundness: 0.3
            }
        },
        interaction: {
            dragNodes: true,
            dragView: true,
            hover: false,
            navigationButtons: true,
            keyboard: true,
            zoomView: false,
            hoverConnectedEdges:false
        }
    };
    var network = new vis.Network(container, data, options);

    network.on('click', function (properties) {
        var ids = properties.nodes;
        var clickedNodes = nodes.get(ids);
        if(clickedNodes[0].title != undefined){
            $("#dialog").html("<p>"+clickedNodes[0].title+"</p>");
            $("#dialog").dialog({"title":clickedNodes[0].label});

        }
    });
    //}

