// Custom scripts for all pages
script(src='../vendor/jquery/jquery.min.js')
script(src='../vendor/jquery-easing/jquery.easing.min.js')
script(src='../vendor/datatables/jquery.dataTables.js')
script(src='../vendor/datatables/dataTables.bootstrap4.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js')
script(type='text/javascript').



    //function createNode(stats) {

    var nodes = new vis.DataSet(JSON.parse('!{nodes}'));
    var edges = new vis.DataSet(JSON.parse('!{edges}'));
    var container = document.getElementById('mynetwork');
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        autoResize: true,
        height: '650px',
        layout: {
            hierarchical: {
                direction: 'RL',
            }
        },
        nodes: {
            shape: 'box',
            margin: 10,
            widthConstraint: {
                maximum: 200
            }
        },
        edges: {
            smooth: {
                type: 'cubicBezier',
                forceDirection: 'horizontal',
                roundness: 0.3
            }
        },
        interaction: {
            dragNodes: true,
            dragView: true,
            hover: true,
            navigationButtons: true,
            keyboard: true,
            zoomView: false,
            hoverConnectedEdges:true
        }
    };
    var network = new vis.Network(container, data, options);
    //}

